@page "/set-email/{review:bool?}"

@model EmailEditModel

@{
    ViewBag.PreviousUrl=Model.BackLink;
    ViewData["Title"] = @Localizer["set-email.title"];
}

<div style="@Model.DisplaySummary" class="govcy-alert-error govcy-br-5 govcy-br-danger govcy-p-3">
    <h2>@Localizer["common.error_message"]</h2>
    <p class="govcy-mb-0">
        @Html.Raw(Model.ErrorsDesc)
    </p>
</div>

<h1>@Localizer["set-email.title"]</h1>
<form class="govcy-form" novalidate method="post">
    <div class="@(Model.EmailErrorClass.Length>0 ? "govcy-form-control  govcy-form-control-error" : "govcy-form-control")">
        <label class="govcy-label" for="email">@Localizer["set-email.email_label"]</label>
        <span class="govcy-hint">@Localizer["set-email.email_hint"]</span>
        @if (Model.EmailErrorClass.Length > 0)
        {
            <p id="email-error" class="govcy-input-error-msg">
                    <span class="govcy-visually-hidden-error">@Localizer["common.error_alert"]</span>
                    @Model.EmailErrorClass
            </p>
        }       
        <input id="email" name="email" 
        type="email" 
        value="@Model.Email"  
        class="@(Model.EmailErrorClass.Length >0 ? "govcy-text-input govcy-text-input-error": "govcy-text-input")"
        maxlength="80" spellcheck="false" autocomplete="email"
        @(Model.EmailErrorClass.Length >0) ? $" aria-describedby=\"email-error\"" : "")>
    </div>
@*<p>
  @Localizer["set-email.p1"]
</p>*@
  <button type="submit" class="govcy-btn-primary  govcy-mb-4">@Localizer["common.button_next"]</button>
</form>