@page "/email-selection/{review:bool?}"

@using Dsf.Service.Template.Data.Models

@model Dsf.Service.Template.Pages.EmailModel

@{
   ViewBag.PreviousUrl= Model.BackLink;
   ViewData["Title"] = Localizer["email-selection.title"];
}
<div style="@Model.DisplaySummary" class="govcy-alert-error govcy-br-5 govcy-br-danger govcy-p-3">
    <h2>@Localizer["common.error_message"]</h2>
    <p class="govcy-mb-0">
        @Html.Raw(Model.ErrorsDesc)
    </p>
</div>

<h1>@Localizer["email-selection.title"]</h1>

<form method="post" novalidate class="govcy-form">

    <fieldset class="govcy-fieldset">
        <legend class="govcy-legend">@Localizer["email-selection.legend"]</legend>

        <div class="@((Model.EmailSelection.Length>0)? "govcy-form-control  govcy-form-control-error" : "govcy-form-control")">
            @if (Model.EmailSelection.Length > 0)
            {
                <span class="govcy-visually-hidden-error">@Localizer["common.error_alert"]</span>
                <span class="govcy-input-error-msg">@Model.EmailSelection</span>
            }
            <label class="govcy-radio">
                <strong>@Model.EmailSel.Email</strong>
                <input class="govcy-radio-input" type="radio" value="1" id="crbEmail" name="crbEmail" @(Model.CrbEmail == "1" ? "checked" : "")>
                <span class="govcy-radio-checked"></span>
                <span class="govcy-hint">@Localizer["email-selection.p1"]</span>
            </label>
            <label class="govcy-radio">
                @Localizer["email-selection.no"]
                <input class="govcy-radio-input" type="radio" value="2" name="crbEmail" @(Model.CrbEmail == "2" ? "checked" : "")>
                <span class="govcy-radio-checked"></span>
            </label>
        </div>
    </fieldset>
    <button type="submit" class="govcy-btn-primary  govcy-mb-4">@Localizer["common.button_next"]</button>
</form>
 

  