@page "/set-mobile/{review:bool?}"

@model MobileEditModel
@{
    ViewBag.PreviousUrl = Model.BackLink;
    ViewData["Title"] = @Localizer["set-mobile.title"];
    ViewData["Index"] = "Show";
}
<div style="@Model.DisplaySummary" class="govcy-alert-error govcy-br-5 govcy-br-danger govcy-p-3">
    <h2>@Localizer["common.error_message"]</h2>
    <p class="govcy-mb-0">
        @Html.Raw(Model.ErrorsDesc)
    </p>
</div>

<form class="govcy-form" novalidate method="post">
        <div class="@(Model.MobileErrorClass.Length>0 ? "govcy-form-control  govcy-form-control-error" : "govcy-form-control")">
           <h1><label class="govcy-label" for="mobile">@Localizer["set-mobile.title"]</label></h1>
            @if (Model.MobileErrorClass.Length > 0)
            {
                 <p id="tel-error" class="govcy-input-error-msg">
                    <span class="govcy-visually-hidden-error">@Localizer["common.error_alert"]</span>
                    @Model.MobileErrorClass
                 </p>
                 <input id="mobile" name="Mobile" 
             type="tel" 
             value="@Model.Mobile"
              maxlength="20"
              autocomplete="tel"
             class="govcy-text-input govcy-text-input-char_20 govcy-text-input-error"
             aria-describedby="tel-error">
        }
        else
        {
              <input id="mobile" name="Mobile" 
             type="tel" 
             value="@Model.Mobile"
              maxlength="20"
              autocomplete="tel"
             class="govcy-text-input govcy-text-input-char_20">
        } 
     </div>
     <button type="submit" class="govcy-btn-primary">@Localizer["common.button_next"]</button>
</form>