@page
@using dsf_service_template_net6.Data.Models
@model dsf_service_template_net6.Pages.AddressEditModel

@{


}

<div class="govcy-container">
    <form class="govcy-form" novalidate method="post" asp-page-handler="View">
        
        <div class="@Model.FormClass">   @*@(Model.ModelState.IsValid ? formClassWithError : formClassWithError)>*@

            <label class="govcy-label" for="input">Ταχ. Κώδικας</label>
            <span asp-validation-for="@Model.PostalCode" class="govcy-input-error-msg"></span>
            <input type="text" class="govcy-text-input govcy-text-input-char_4" placeholder="" maxlength="4" asp-for="@Model.PostalCode" autocomplete="on">
        </div>

        <button class="govcy-btn-secondary">Αναζητήση</button>
    </form>


    @if (Model.HasUserEnteredPostalCcode || Model.HasUserSelectedAddress)
    {

        <form class="govcy-form" novalidate method="post" asp-page-handler="SelectAddressFromDropDown">

            <div class="govcy-col-6">
                <div class="govcy-form-control govcy-mb-4">
                    <label class="govcy-label" for="input">Επιλογή Διεύθυνσης</label>
                    <select class="govcy-select" name="addressCode" onchange="this.form.submit()" asp-for="AddressSelected">
                        @if (Model.addressinfo != null)
                        {
                            <option value="0"></option>
                            @foreach (var address in Model.addressinfo.data.items.ToList())
                            {

                                if (Model.AddressSelected == address.code)
                                {
                                    <option selected value="@address.code" class="govcy-mb-4">@address.name, @Model.addressinfo.data.parish.name, @Model.addressinfo.data.district.name</option>
                                }
                                else
                                {
                                    <option value="@address.code" class="govcy-mb-4">@address.name, @Model.addressinfo.data.parish.name, @Model.addressinfo.data.district.name</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
        </form>

    }
    <form class="govcy-form" novalidate method="post" asp-page-handler="VerifyAddress">
        @if (Model.HasUserSelectedAddress)
        {
            <fieldset class="govcy-fieldset">
                <div class="govcy-form-control">
                    <label class="govcy-label" for="input">Δρόμος</label>
                    <input type="text" class="govcy-text-input govcy-w-50" disabled asp-for="@Model.addressSummary.Street">
                </div>

                <div class="govcy-form-control">
                    <label class="govcy-label" for="input">Ενορία</label>
                    <input type="text" class="govcy-text-input govcy-w-50" disabled asp-for="@Model.addressSummary.Parish">
                </div>
                <div class="govcy-form-control">
                    <label class="govcy-label" for="input">Πόλη</label>
                    <input type="text" class="govcy-text-input govcy-w-50" disabled asp-for="@Model.addressSummary.City>
          </div>
          <div class=" govcy-form-control">
                    <label class="govcy-label" for="input">Αριθμός Οδού</label>
                    <input type="text" class="govcy-text-input govcy-text-input-char_5">
                </div>
                <div class="govcy-form-control">
                    <label class="govcy-label" for="input">Αριθμός Διαμερίσματος (Προαιρετικό)</label>
                    <input type="text" class="govcy-text-input govcy-text-input-char_5">
                </div>

                <div class="govcy-form-control">
                    <a href="#">Έχετε Ταχυδρομική Θυρίδα Τ.Χ ή μένετε εκτός Κύπρου</a>
                </div>
                <div class="govcy-form-control">
                    <button type="button" class="govcy-btn-primary govcy-mb-0">Συνέχεια</button>
                </div>

            </fieldset>
        }
    </form>
     <partial name="_ValidationScriptsPartial"/>
</div>
