@page "/SetAddress/{review:bool?}"
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using dsf_service_template_net6.Data.Models
@model dsf_service_template_net6.Pages.AddressEditModel

@inject IStringLocalizer<Program> Localizer

<div class="govcy-container">
    <div style="@((!Model.ViewModel.ShowErrorSummary) ? "display:none" : "")" class="govcy-alert-error govcy-br-5 govcy-br-danger govcy-p-3">
        <h2>@Localizer["ErrorMessage-General"]</h2>
        <p class="govcy-mb-0">
            @Html.Raw(Model.ViewModel.ErrorDesc)
        </p>
    </div>

    <h1>@Localizer["AddressEditHeading"]</h1>
    <form class="govcy-form"  asp-page-handler="PostalCode" novalidate>
        <div class="@(Model.PostalCodeErrorClass.Length>0 ? "govcy-form-control  govcy-form-control-error" : "govcy-form-control")">
            <label class="govcy-label" for="input">@Localizer["PostalCode"]</label>
            	@if (Model.PostalCodeErrorClass.Length > 0)
            {
                <span class="govcy-visually-hidden-error">@Localizer["ERROR_ALERT"]</span>
            }
            <span asp-validation-for="@Model.ViewModel.postalCode" class="govcy-input-error-msg"></span>
            <input id="PostalCode" type="text" class="govcy-text-input govcy-text-input-char_4" asp-for="@Model.ViewModel.postalCode" autocomplete="on">
        </div>
        <button class="govcy-btn-secondary">@Localizer["Find"]</button>
    </form>

    @if (Model.ViewModel.HasUserEnteredPostalCode || Model.ViewModel.HasUserSelectedAddress)
    {
        <form class="govcy-form" method="post" asp-page-handler="SelectAddressFromDropDown" novalidate>
            <input type="hidden" asp-for="@Model.ViewModel.postalCode">
            <div class="govcy-col-6">
                <div class="govcy-form-control govcy-mb-4">
                    <label class="govcy-label" for="input">@Localizer["SelectAddress"]</label>
                    <select class="govcy-select" onchange="this.form.submit()" asp-for="@Model.ViewModel.SelectedAddress" asp-items="@Model.ViewModel.Addresses">
                    </select>
                </div>
            </div>
        </form>

    }
    @if (Model.ViewModel.HasUserSelectedAddress)
    {
        <form class="govcy-form" method="post" asp-page-handler="VerifyAddress" novalidate>
            <input type="hidden" asp-for="@Model.ViewModel.postalCode">
            <input type="hidden" asp-for="@Model.ViewModel.SelectedAddress">
            <fieldset class="govcy-fieldset">
                <div class="govcy-form-control">
                    <label class="govcy-label" for="input">@Localizer["PostalCode"]</label>
                    <input type="text" class="govcy-text-input govcy-text-input-char_4" disabled asp-for="@Model.ViewModel.postalCode">
                </div>
                <div class="govcy-form-control">
                    <label class="govcy-label" for="input">@Localizer["Street"]</label>
                    <input type="text" class="govcy-text-input govcy-w-50" disabled asp-for="@Model.ViewModel.SelectedAddressName">
                </div>
                <div class="govcy-form-control">
                    <label class="govcy-label" for="input">@Localizer["Parish"]</label>
                    <input type="text" class="govcy-text-input govcy-w-50" disabled asp-for="@Model.ViewModel.Parish">
                </div>
                <div class="govcy-form-control">
                    <label class="govcy-label" for="input">@Localizer["City"]</label>
                    <input type="text" class="govcy-text-input govcy-w-50" disabled asp-for="@Model.ViewModel.City">
                </div>
                <div class="@Model.ViewModel.VerifyAddressFormClass">
                    <label class="govcy-label" for="input">@Localizer["StreetNo"]</label>
                    <span asp-validation-for="@Model.ViewModel.StreetNo" class="govcy-input-error-msg"></span>
                    <input type="text" class="@Model.ViewModel.FlatNoTextboxCSS" asp-for="@Model.ViewModel.StreetNo">
                </div>
                <div class="govcy-form-control">
                    <label class="govcy-label" for="input">@Localizer["FlatNo"]</label>
                    <input type="text" class="govcy-text-input govcy-text-input-char_5" asp-for="@Model.ViewModel.FlatNo">
                </div>
                <div class="govcy-form-control">
                    <a href="#">@Localizer["POBoxQuestion"]</a>
                </div>
                <div class="govcy-form-control">
                    <button class="govcy-btn-primary govcy-mb-0">@Localizer["Validation"]</button>
                </div>
            </fieldset>
        </form>
    }
</div>