@page "/SetAddress/{review:bool?}"
@using dsf_service_template_net6.Data.Models
@model dsf_service_template_net6.Pages.AddressEditModel

<div class="govcy-container">
    <form class="govcy-form"  method="post" asp-page-handler="View">
        
        <div class="@Model.PostalCodeFormClass"> 

            <label class="govcy-label" for="input">Ταχ. Κώδικας</label>
            <span asp-validation-for="@Model.PostalCode" class="govcy-input-error-msg"></span>
            <input type="text" class="govcy-text-input govcy-text-input-char_4" placeholder="" maxlength="4" asp-for="@Model.PostalCode" autocomplete="on">
        </div>

        <button class="govcy-btn-secondary">Αναζητήση</button>
    </form>


    @if (Model.HasUserEnteredPostalCcode || Model.HasUserSelectedAddress)
    {

        <form class="govcy-form"  method="post" asp-page-handler="SelectAddressFromDropDown" >

            <div class="govcy-col-6">
                <div class="govcy-form-control govcy-mb-4">
                    <label class="govcy-label" for="input">Επιλογή Διεύθυνσης</label>
                    <select class="govcy-select" name="addressCode" onchange="this.form.submit()" asp-for="AddressSelected">
                        @if (Model.Addressinfo != null)
                        {
                            <option value="0"></option>
                            @foreach (var address in Model.Addressinfo.data.items.ToList())
                            {

                                if (Model.AddressSelected == address.code)
                                {
                                    <option selected value="@address.code" class="govcy-mb-4">@address.name, @Model.Addressinfo.data.parish.name, @Model.Addressinfo.data.district.name</option>
                                }
                                else
                                {
                                    <option value="@address.code" class="govcy-mb-4">@address.name, @Model.Addressinfo.data.parish.name, @Model.Addressinfo.data.district.name</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
        </form>

    }
      @if (Model.HasUserSelectedAddress)
    {
        <form class="govcy-form"  method="post" asp-page-handler="VerifyAddress">

            <fieldset class="govcy-fieldset">
                <div class="govcy-form-control">
                    <label class="govcy-label" for="input">Δρόμος</label>
                    <input type="text" class="govcy-text-input govcy-w-50" disabled asp-for="@Model.AddressSummary.Street">
                </div>

                <div class="govcy-form-control">
                    <label class="govcy-label" for="input">Ενορία</label>
                    <input type="text" class="govcy-text-input govcy-w-50" disabled asp-for="@Model.AddressSummary.Parish">
                </div>
                <div class="govcy-form-control">
                    <label class="govcy-label" for="input">Πόλη</label>
                    <input type="text" class="govcy-text-input govcy-w-50" disabled asp-for="@Model.AddressSummary.City">
                </div>
              <div class="@Model.VerifyAddressFormClass">
                    <label class="govcy-label" for="input">Αριθμός Οδού</label>
                    <span asp-validation-for="@Model.StreetNo" class="govcy-input-error-msg"></span>
                    <input type="text" class="govcy-text-input govcy-text-input-char_5" asp-for="@Model.StreetNo">
                </div>
                <div class="govcy-form-control">
                    <label class="govcy-label" for="input">Αριθμός Διαμερίσματος (Προαιρετικό)</label>
                    <input type="text" class="govcy-text-input govcy-text-input-char_5" >
                </div>

                <div class="govcy-form-control">
                    <a href="#">Έχετε Ταχυδρομική Θυρίδα Τ.Χ ή μένετε εκτός Κύπρου</a>
                </div>
                <div class="govcy-form-control">
                    <button  class="govcy-btn-primary govcy-mb-0">Επικύρωση</button>
                </div>

            </fieldset>
        
    </form>
    }
     <partial name="_ValidationScriptsPartial"/>
</div>
