@page "{review:bool?}"
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@model dsf_service_template_net6.Pages.EmailEditModel
@inject IStringLocalizer<Program> Localizer
@inject IHtmlLocalizer<Program> HtmlLocalizer
@{
}
<div style="@Model.displaySummary" class="govcy-alert-error govcy-br-5 govcy-br-danger govcy-p-3">
    <h2>@Localizer["ErrorMessage-General"]</h2>
    <p class="govcy-mb-0">
        @Html.Raw(Model.ErrorsDesc)
    </p>
</div>

<h1>@Localizer["EmailEditHeading"]</h1>
<form class="govcy-form" novalidate asp-page-handler="SetEmail">
     <div class="@(Model.EmailErrorClass.Length>0 ? "govcy-form-control  govcy-form-control-error" : "govcy-form-control")">
    <label class="govcy-label govcy-mb-2">@Localizer["Email-Label"]</label>
    <span class="govcy-hint">@Localizer["Email-Hint"]</span>
    @if (Model.EmailErrorClass.Length > 0)
            {
                <span class="govcy-visually-hidden-error">@Localizer["ERROR_ALERT"]</span>
            }
            <span class="govcy-input-error-msg" asp-validation-for="@Model.emailEdit.email"></span>
    <input id="email" name="emailEdit.email" type="text" value="@Model.emailEdit.email" placeholder="" class="@(Model.EmailErrorClass.Length >0 ? "govcy-text-input govcy-text-input-error": "govcy-text-input")">
</div>
<p>
  @Localizer["EmailEditParagraph"]
</p>
  <button type="submit" class="govcy-btn-primary  govcy-mb-4">@Localizer["Button_Next"]</button>
</form>