@page "/set-mobile/{review:bool?}"
@using dsf_service_template_net6.Resources
@model dsf_service_template_net6.Pages.MobileEditModel
@inject IResourceViewlocalizer Localizer
@{
    ViewBag.PreviousUrl=Model.BackLink;
     ViewData["Title"] = @Localizer["set-mobile.title"];
}
<div style="@Model.displaySummary" class="govcy-alert-error govcy-br-5 govcy-br-danger govcy-p-3">
    <h2>@Localizer["common.error_message"]</h2>
    <p class="govcy-mb-0">
        @Html.Raw(Model.ErrorsDesc)
    </p>
</div>
<h1>@Localizer["set-mobile.title"]</h1>
<form class="govcy-form" novalidate method="post">
     <div class="@(Model.MobileErrorClass.Length>0 ? "govcy-form-control  govcy-form-control-error" : "govcy-form-control")">
            <label class="govcy-label govcy-mb-2">@Localizer["set-mobile.mobile_label"]</label>
            <span class="govcy-hint">@Localizer["set-mobile.mobile_hint"]</span>
           	@if (Model.MobileErrorClass.Length > 0)
            {
                 <p id="tel-error" class="govcy-input-error-msg">
                    <span class="govcy-visually-hidden-error">@Localizer["common.error_alert"]</span>
                    @Model.MobileErrorClass
                 </p>
                
            }
            
            <input id="mobile" name="mobile" 
             type="tel" 
             value="@Model.mobile"
              maxlength="20"
              autocomplete="tel"
             class="@(Model.MobileErrorClass.Length >0 ? "govcy-text-input govcy-text-input-char_20 govcy-text-input-error": "govcy-text-input govcy-text-input-char_20")"
             @(Model.MobileErrorClass.Length >0) ? $" aria-describedby=\"tel-error\"" : "")
            >
     </div>

  
   @*  <p>
         @Localizer["set-mobile.p1"]
     </p>*@
     <button type="submit" class="govcy-btn-primary  govcy-mb-4">@Localizer["common.button_next"]</button>
</form>