@page
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using dsf_service_template_net6.Data.Models
@model ReviewPageModel
@inject IStringLocalizer<Program> Localizer
@inject IHtmlLocalizer<Program> HtmlLocalizer
@{
    Addressinfo Address = new Addressinfo();
    if (Model.ret_address != null)
    {
       Address = @Model.ret_address.First();
    }
}
 <h1>@Localizer["CheckAndSubmit"]</h1>
 <p>@Localizer["CheckAndSubmitPara01"]</p>
 
  @if (Model._citizenPersonalDetails != null)
    {
 <table class="govcy-table govcy-table-responsive-vertical govcy-mb-4">
     <tbody>
           <tr>
             <th scope="row" class="col-3">@Localizer["ApplicantName"]</th>
             <td class="col-7">
                 <p>
                 <span class="govcy-d-block">@Model._citizenPersonalDetails.data.fullName</span>
                </p>
             </td>
             <td class="col-2 govcy-text-sm-start govcy-text-md-end">
                   
              </td>
          </tr>
         <tr>
             <th scope="row" class="col-3">@Localizer["Address"]</th>
             <td class="col-7">
                 <p>
                 <span class="govcy-d-block">@Html.Raw(Address.addressText.Replace("\n", "<br/>"))</span>
                </p>
             </td>
              <td class="col-2 govcy-text-sm-start govcy-text-md-end">
                   <a asp-page="/Address" asp-route-review="true">@Localizer["Change_Link"]</a>
              </td>
         </tr>
          <tr>
             <th scope="row" class="col-3">@Localizer["Mobile"]</th>
             <td class="col-7">
                 <p>
                 <span class="govcy-d-block">@Model.ret_mobile</span>
                </p>
             </td>
              <td class="col-2 govcy-text-sm-start govcy-text-md-end">
                   <a asp-page="/Mobile" asp-route-review="true">@Localizer["Change_Link"]</a>
              </td>
         </tr>
           <tr>
             <th scope="row" class="col-3">@Localizer["Email"]</th>
             <td class="col-7">
                 <p>
                  <span class="govcy-d-block">@Model.ret_email</span>
                </p>
             </td>
              <td class="col-2 govcy-text-sm-start govcy-text-md-end">
                   <a asp-page="/Email" asp-route-review="true">@Localizer["Change_Link"]</a>
              </td>
         </tr>
     </tbody>
 </table>
 } 
 else {
 <h1>No data found</h1>
 }
    <form asp-page-handler="ApplicationSubmit">
            <button type="submit" class="govcy-btn-primary" id="btnApplicationSubmit">
                @Localizer["Button_Submit"]
            </button>
   </form>
