@page
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using dsf_service_template_net6.Data.Models
@model ReviewPageModel
@inject IStringLocalizer<Program> Localizer
@inject IHtmlLocalizer<Program> HtmlLocalizer
@{
    Addressinfo Address = @Model._application.data.addressInfo.Select(p => p.language == "en").FirstOrDefault();

}
 <h1>@Localizer["CheckAndSubmit"]</h1>
 <p>@Localizer["CheckAndSubmitPara01"]</p>
 <p>@Localizer["CheckAndSubmitPara02"]</p>
 <table class="govcy-table govcy-table-responsive-vertical govcy-mb-4">
     <tbody>
         <tr>
             <th scope="row" class="col-3">@Localizer["AddressDetails"]</th>
             <td class="col-7">
                 <p>
                  <span class="govcy-fw-bold">@Localizer["Address"]</span>
                  <span class="govcy-d-block">@Address.addressText</span>
                </p>
             </td>
              <td class="col-2 govcy-text-sm-start govcy-text-md-end">
                   <a asp-page="/AddressEdit" asp-route-review="true">@Localizer["Change_Link"]</a>
              </td>
         </tr>
          <tr>
             <th scope="row" class="col-3">@Localizer["MobileDetails"]</th>
             <td class="col-7">
                 <p>
                  <span class="govcy-fw-bold">@Localizer["Mobile"]</span>
                  <span class="govcy-d-block">@Model._application.data.mobile</span>
                </p>
             </td>
              <td class="col-2 govcy-text-sm-start govcy-text-md-end">
                   <a asp-page="/MobileEdit" asp-route-review="true">@Localizer["Change_Link"]</a>
              </td>
         </tr>
           <tr>
             <th scope="row" class="col-3">@Localizer["EmailDetails"]</th>
             <td class="col-7">
                 <p>
                  <span class="govcy-fw-bold">@Localizer["Email"]</span>
                  <span class="govcy-d-block">@Model._application.data.email</span>
                </p>
             </td>
              <td class="col-2 govcy-text-sm-start govcy-text-md-end">
                   <a asp-page="/MobileEdit" asp-route-review="true">@Localizer["Change_Link"]</a>
              </td>
         </tr>
     </tbody>
 </table>

