@page "/review-page"
@using dsf_service_template_net6.Resources
@using dsf_service_template_net6.Data.Models
@model ReviewPageModel
@inject IResourceViewlocalizer Localizer
@{
    ViewBag.PreviousUrl=Model.BackLink;
    ViewData["Title"] = Localizer["review.p2"];
}
@{
    
}
 <h1>@Localizer["review.p2"]</h1>
 <p>@Localizer["review.p1"]</p>
 
  @if (Model._citizenPersonalDetails != null)
    {
 <table class="govcy-table govcy-table-responsive-vertical govcy-mb-4">
     <tbody>
     @*      <tr>
             <th scope="row" class="col-3">@Localizer["review.applicant_name"]</th>
             <td class="col-7">
                 <p>
                 <span class="govcy-d-block">@Model._citizenPersonalDetails.data.fullName</span>
                </p>
             </td>
             <td class="col-2 govcy-text-sm-start govcy-text-md-end">
                   
              </td>
          </tr>*@
          <tr>
             <th scope="row" class="col-3">@Localizer["review.mobile"]</th>
             <td class="col-7">
                 <p>
                 <span class="govcy-d-block">@Model.ret_mobile</span>
                </p>
             </td>
              <td class="col-2 govcy-text-sm-start govcy-text-md-end">
                    @if (Model.useMobileEditOnly)
                    {
                        <a asp-page="/MobileEdit" asp-route-review="true">@Localizer["common.change_link"]</a>
                    } else
                    {
                        <a asp-page="/Mobile" asp-route-review="true">@Localizer["common.change_link"]</a>
                    }
              </td>
         </tr>
           <tr>
             <th scope="row" class="col-3">@Localizer["review.email"]</th>
             <td class="col-7">
                 <p>
                  <span class="govcy-d-block">@Model.ret_email</span>
                </p>
             </td>
              <td class="col-2 govcy-text-sm-start govcy-text-md-end">
                    @if (Model.useEmailEditOnly)
                    {
                        <a asp-page="/EmailEdit" asp-route-review="true">@Localizer["common.change_link"]</a>
                    }else
                    {
                        <a asp-page="/Email" asp-route-review="true">@Localizer["common.change_link"]</a>
                    }
                    
              </td>
         </tr>
     </tbody>
 </table>
 } 
 else {
 <h1>No data found</h1>
 }
    <form asp-page-handler="ApplicationSubmit">
            <button type="submit" class="govcy-btn-primary" id="btnApplicationSubmit">
                @Localizer["common.submit"]
            </button>
   </form>
